.index{
    font-size: 23px;
    display: flex;
    flex-direction: column;
}
.pretitle{
    margin-top: 20px !important;
}
.index section{
    display: flex;
    flex-direction: column;
}
.index section > div{
    margin-top: 30px;
}
.container{
    margin-top: 30px;
}
.pretitle{
    display: flex;
    margin: 0 auto;
}
.title{
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
}
.title span{
    width: 20%;
    text-align: center;
}
.title::before{
    content: "";
    display: flex;
    margin: auto 0;
    width: 40%;
    height: 1px;
    background-color: black;
}
.title::after{
    content: "";
    display: flex;
    margin: auto 0;
    width: 40%;
    height: 1px;
    background-color: black;
}
.card_content.consists_of_images > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.card_content.consists_of_images > div img{
    width: 14%;
    min-width: 150px;
    max-width: 150px;
    margin: 0 auto;
    float: none !important;
}
.slick-track {
    display: flex !important;
    align-items: center;
}
.hidden{
    opacity: 0;
}
.show{
    display: flex !important;
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0);
}
@media all and (min-width: 1200px){
    .slick-track{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .index_part:nth-child(2n).hidden{
        transform: translateX(-40vw);
    }
    .index_part:nth-child(2n+1).hidden{
        transform: translateX(+40vw);
    }
}
@media all and (max-width: 900px){
    .title::before{
        display: none;
    }
    .title::after{
        display: none;
    }
    .title span{
        margin: 0 auto;
        width: 100%;
    }
    .card_content{
        border-bottom: 1px solid;
        padding-bottom: 20px;
    }
}