.index{
    font-size: 23px;
    display: flex;
    flex-direction: column;
}
.pretitle{
    margin-top: 20px !important;
}
.index > div{
    margin-top: 30px;
}
.container{
    margin-top: 30px;
}
.pretitle{
    display: flex;
    margin: 0 auto;
}
.title{
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
}
.title span{
    width: 20%;
    text-align: center;
}
.title::before{
    content: "";
    display: flex;
    margin: auto 0;
    width: 40%;
    height: 1px;
    background-color: black;
}
.title::after{
    content: "";
    display: flex;
    margin: auto 0;
    width: 40%;
    height: 1px;
    background-color: black;
}
.card_content.consists_of_images > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.card_content.consists_of_images > div img{
    width: 14%;
    min-width: 150px;
    max-width: 150px;
    margin: 0px 30px 20px;
}