.services_info_right{
    margin-left: auto;
    text-align: right;
}
.title{ 
    font-size: 20px;
    margin-bottom: 20px;
}
.services_info > div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pretitle{
    display: flex;
    margin: 0 auto;  
    margin-top: 20px !important; 
    font-size: 23px;
}
.services_part{
    display: flex;
    flex-direction: column  ;
    margin: 0 auto;
}
.pretitle_left{
    display: flex;
    margin-top: 20px !important; 
    font-size: 23px;
}
/* начало работы с направлением */
.vectors{
    display: flex;
    margin: 0 auto;
    position: relative;   
}
.vector_left{
    position: absolute;
    right: 80px;
}
.vector_left span{
    position: relative;
    right: 25%;
}
.vector_right{
    position: absolute;
    left: 80px;
    text-align: center;
}
.vector_right span{
    position: relative;
    left: 50%;
}
.consulting{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 17px;
    flex-wrap: wrap;
}
.consulting_left{
    display: flex;
    float: left;
    margin-right: 10%;
}
.consulting_right{
    display: flex;
    float: right;
    padding-top: 50px;
}
.consulting_left{
    margin-left: 5%;
}
@media all and (max-width: 900px){
    .services_part_vectors{
        display: none;
    }
    .consulting{
        width: 100%;
    }
    .consulting_left{
        margin: 0;
        float: none;
    }
    .consulting_right{
        float: none ;
        padding: 0;
        margin-top: 10px;
    }
}