<footer>
    <div>
        <center>Контакты</center>
        <div class="footer_main">
            <div class="footer_left">
                <div class="descriptions">Звоните - мы будем рады ответить на все ваши вопросы.</div>
                <div class="contact_information"><a href="tel:+7(727)330-98-86">+7 (727) 330-98-86</a></div>
            </div>
            <div class="footer_right">
                <div class="descriptions">По общим вопросам пишите по адресу:</div>
                <div class="contact_information"><a href="mailto:info@irbis-integration.com">info@irbis-integration.com</a></div>
            </div>
        </div>
    </div>    
</footer>