{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'IrbisPage/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'IrbisPage/js/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'IrbisPage/js/slick/slick-theme.css' %}"/>
{% endblock %}
{% block content %}
    <div class = "muller_medium index">
        {% for card in cards %}
            <div class="pretitle">{{ card.pretitle }}</div>
            <div class="title"> <span>{{ card.title }}</span> </div>
            {% if card.consists_of_images %}
                <div class="card_content consists_of_images">{{ card.content|safe }}</div>
            {% else %}
                <div class="card_content">{{ card.content|safe }}</div>
            {% endif %}
            
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'IrbisPage/js/slick/slick.min.js' %}"></script>
    <script>
        $('.consists_of_images > div img').wrap("<div class = 'img_frame'></div>");
        $('.consists_of_images > div').slick({
            responsive: [
                {
                    breakpoint: 900,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 2400,
                    settings: {
                        slidesToShow: 8,
                        dots: false
                    }
                },
                {
                    breakpoint: 1500,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        infinite: true,
                        dots: true
                    }
                },
            ]
        })
    </script>
{% endblock %}