{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'IrbisPage/css/services.css'%}">
{% endblock %}

{% block content %}
    <div class="muller_medium">
        <section class = "services_part hidden">
            <div class = "pretitle">Услуги</div>
            <div class="services_info">
                <div class="services_info_left">
                    <div class="title">
                        Разработка ИТ-стратегии
                    </div>
                    <div class="content">
                        Информатизация и автоматизация бизнес-процессов в крупной компании является комплексной и <br>
                        долгосрочной задачей, в ходе решения которой изменяются приоритеты автоматизации, <br>
                        выбираются и применяются различные средства и методы ИТ.
                    </div>
                </div>
                <div class="services_info_right">
                    <div class="title">
                        Об услуге стратегического планирования развития ИТ и бизнеса
                    </div>
                    <div class="content">
                        Информатизация и автоматизация бизнес-процессов в крупной компании является <br>
                        комплексной и долгосрочной задачей, в ходе решения которой изменяются приоритеты <br>
                        автоматизации, выбираются и применяются различные средства и методы ИТ. <br>
                        Для принятия эффективных управленческих решений в этой области деятельности <br>
                        необходимо достичь всестороннего и адекватного понимания ситуации в бизнесе и ИТ, <br>
                        определить цели и последовательность информатизации, а также реалистично оценить <br>
                        необходимость, возможность и своевременность применения множества продуктов, <br>
                        решений, методик и компетенций, существующих в области ИТ. <br>
                        Стратегия в области ИТ является основой для принятия многих управленческих решений по <br>
                        информатизации, поскольку содержит ориентиры и приоритеты развития информационных <br>
                        технологий, определенные на основе всестороннего анализа деятельности, целевое <br>
                        состояние в области ИТ, которое следует поэтапно реализовывать, и рациональный <br>
                        портфель проектов, реализующих достижение целевого состояния на обозримой <br>
                        перспективе.
                    </div>
                </div>
            </div>
        </section>
        <section class = "services_part hidden" style="height: 220px;">
            <div class="pretitle vectors">
                <div>Направления</div>
            </div>
            <div class = "vectors">
                <div class="vector_left">
                    <img src="{% static 'IrbisPage/images/vector1.png'%}" alt="">
                    <span>Проектный подход</span>
                </div>
                <div class="vector_right">
                    <img src="{% static 'IrbisPage/images/vector2.png'%}" alt="">
                    <span>Функциональные области  ИТ-стратегии</span>
                </div>
            </div>
        </section>
        <section class = "services_part hidden">
            <div class="pretitle">
                Консалтинг
            </div>
            <div class = "consulting">
                <div class="consulting_left">
                    Мы предлагаем заказчикам современные высокотехнологичные  решения и хотим, чтобы 
                    заложенные в них возможности были задействованы на все 100%, а поставленные цели – успешно
                    достигнуты. Поэтому правильный ИТ-проект в нашем понимании  включает значительную долю
                    консалтинга.
                </div>
                <div class="consulting_right">
                    Правильный ИТ-проект в нашем понимании включает значительную  долю консалтинга. Оказывая 
                    такие сервисы, как внедрение,  аутсорсинг, техническая поддержка и  обучение, мы вкладываем в
                    проект наш опыт и знания,  составляющие его интеллектуальную ценность.
                </div>
            </div>
        </section>
        <section class= "services_part hidden">
            <div class="pretitle_left">
                {{ service.title }}
            </div>
            {{ service.content|safe }}
        </section>
    </div>
{% endblock %}

{% block js %}{% endblock %}